/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #6a9ee8;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar {
  background-color: #365d96;
}
.nav.navbar-nav li a {
   color: #000;
 }
.nav.navbar-nav li a:hover {
 color: #777;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-brand:hover {
  color: #777;
}


input[type=name], input[type=email] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 14px;
    margin-bottom: 16px;
    resize: vertical;
    display: block;
}
textarea {
height: 200px;
width: 50%;
}
input[type=submit] {
    background-color: #365d96;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
input[type=submit]:hover {
    background-color: #6a9ee8;
}
.contact-container {
    background-color: #f2f2f2;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 8%;
    margin-top: 1.75cm;
}




